__pycache__/
*.dist-info/
*.egg-info/
annotated_types/
anyio/
bin/
certifi/
cffi/
charset_normalizer/
cryptography/
distro/
google/
google_auth*/
google_genai*/
h11/
httpcore/
httpx/
idna/
pyasn1/
pyasn1_modules/
pycparser/
requests/
urllib3/
pydantic/
pydantic_core/
sniffio/
tenacity/
typing_extensions/
typing_inspection/
websockets/
urllib3/
pyasn1_modules/
*.so
*.cpython-*.so
typing_extensions.py